/*
 * Colors
 */
/*$yellow: #ece81a;*/
$yellow: #fcef06;
$warmgray: #babbb1;
$red: #cb333b;
$purple: #9063cd;
$teal: #00b0b9;
$blue: #00b3dc;
$white: #fff;
$gray: #808080;
$mediumgray: #b3b3b3;
$lightgray: #ddd;
$extralightgray: #f5f5f5;
/*$verydark: #4d4d4d;*/
$verydark: #666666;

$primarycolor: $teal;
$secondarycolor: $purple;
$accentcolor: $yellow;
$linkcolor: $teal;

/* Typography */
$font-light: 'gotham-light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'gotham-bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-book: 'gotham-book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-medium: 'gotham-medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primaryfont: $font-book;
$font-color: $verydark;
$font-color-lighter: $gray;
$font-color-lightest: $mediumgray;
$line-height-base: 1.4 !default;
$line-height-small: 1.5 !default;
$line-height-large: 1.33 !default;
$bodylineheight: $line-height-base;
$bodylineheight-bigger: 1.65;

$font-size-base: 1rem;
$font-size-small: .875rem;
$font-size-large: 1.25rem;


// Width of the content area
$contentwidth: 63rem;

/* Spacing */
$padding-base-vertical: .5rem;
$padding-base-horizontal: 1rem;

$padding-xs-vertical: .0625rem;
$padding-xs-horizontal: .3125rem;

$padding-small-vertical: .3125rem;
$padding-small-horizontal: .625rem;

$padding-large-vertal: 1.125rem;
$padding-large-horizontal: 1.25rem;

/* Components */
$border-radius-base: 4px !default;
$border-radius-small: 3px !default;
$border-radius-large: 6px !default;


/* Buttons */
$btn-border-radius-base: 4px;
$btn-border-radius-small: 3px;
$btn-border-radius-large: 6px;

$btn-default-color: $font-color;
$btn-default-bg: transparent;
$btn-default-border: $warmgray;

$btn-primary-color: $teal;
$btn-reverse-color: $white;

$btn-primary-bg: transparent;
/*$btn-reverse-bg: transparent;*/

$btn-primary-border: $teal;
$btn-reverse-border: $white;

/* Breakpoints */
$small-start              : 20rem;     // 320px
$small-minor-start        : 25.625rem; // 410px
$medium-start             : 30rem;     // 480px
$medium-minor-start       : 36rem;     // 576px
$medium-minor-minor-start : 41.5rem;   // 664px
$large-start              : 48rem;     // 768px
$large-minor-start        : 56rem;     // 896px
$large-minor-minor-start  : 61.25rem;     // 980px
$xlarge-start             : 67.75rem;  // 1084px
$xlarge-minor-start       : 73rem;     // 1168px
$xxlarge-start            : 90rem;     // 1440px


$screen: 'screen';

/* Fonts */
$font-path: "fonts" !default;

/* Icomoon */
$icomoon-font-path: $font-path;
$icon-ctrl: "\ea50";


/* Tables */
$table-border-color: $lightgray;
$table-condensed-cell-padding: .25rem;
$table-bg-accent: $lightgray;
$table-bg-hover: $lightgray;
$table-bg-active: $lightgray;
$body-bg: $white;

/* Numbers we use */
$navflip: $large-minor-minor-start;
$spacebetween: 1.25rem;
$gutter: 1.25rem;
$navbarheight: 3.75rem;
$transitionduration: .3s;



