.branding {

  &--omed {

    header &.icon-omed-logo-alone {

      @include breakpoint($screen $navflip) {
        /*background-color: $secondarycolor;*/
        background-color: transparent;
        fill: $white;
        border: 1px solid $white;

        .omedscrolled & {
          border: none;
        } 

        &:hover {
          /*fill: $secondarycolor;*/
          fill: $white;
          /*background-color: rgba($primarycolor, $navhoveropacity);*/
          background-color: $primarycolor;
        }
      }
    }
  }
}
