.branding {

  &--omed {

    header & .icon-omed-logo-alone {

      & svg {
        width: 100%;
        height: 35px;
      }

      @include breakpoint($screen $navflip) {
        /*background-color: $secondarycolor;*/
        background-color: $primarycolor;
        fill: $white;
        /*border: 1px solid $white;*/


        .omedscrolled & {
          border: none;
        } 

        &:hover {
          fill: $secondarycolor;
          /*fill: $white;*/
          /*background-color: rgba($primarycolor, $navhoveropacity);*/
          background-color: $primarycolor;
        }
      }
    }
  }
}

.omedLogoAlone {
  transition: fill .2s linear;

  header .branding--omed.icon-omed-logo-alone:hover & {
    fill: $secondarycolor;
    background-color: $primarycolor;

  }
}
