$highlightablebreak: $large-start;
%highlightable-base {
  border-top: 7px solid $secondarycolor;
  margin-top: 4.5rem;
  padding-top: 0;

  @include breakpoint($screen $highlightablebreak) {
    padding-top: 1rem;
    margin-top: 8rem;
    margin-bottom: 6rem;
    height: 250px;
  }
}
.highlightable {
  @extend %highlightable-base;

  background: repeating-linear-gradient(-55deg, rgba($primarycolor, .9), rgba($primarycolor, .9) 3px, $primarycolor 3px, $primarycolor 4px);
  border-bottom: 7px solid $secondarycolor;
  color: $white;

  &--pinned {
    @extend %highlightable-base;
    margin-bottom: 0;
    /*background: rgba($secondarycolor, .05);*/
    /*background: aliceblue;*/
    background: repeating-linear-gradient(-55deg, rgba($secondarycolor, .4), rgba($secondarycolor, .4) 3px, rgba($secondarycolor, .2) 3px, rgba($secondarycolor, .2) 4px);
    color: $primarycolor;
  }

  &__kicker {

    .highlightable--pinned & {
      color: rgba($primarycolor, .7);
    }
  }

  &__header {
    font-family: $font-medium;
    /*font-weight: 600 !important;*/
  }
}

