.menu {

  &.active, & > ul ul.active {
    color: $white;

    @include breakpoint($screen $navflip) {
      background-color: rgba($secondarycolor, .28);
      border: 1px solid $white;

      .omedscrolled & {
        background-color: lighten($primarycolor, 5%);
      }
    }
  }

  &, & > ul ul {
    background: $primarycolor;
    @include breakpoint($screen $navflip) {
      background: none;
    }
  }

  &__items {
    color: $primarycolor;
  }

  &__logo {
    
    @include breakpoint($screen $navflip) {
      & a:hover svg {
        fill: $secondarycolor;
      }
    }
  }
} /* End .menu */

.menu-link {
  display: block;
  text-align: right;
  color: $white;
}

.current-menu-item {

  color: $secondarycolor !important;

  & [class^='icon-'] {
    fill: $secondarycolor;
  }
}

.current-page-ancestor {
  color: $secondarycolor;
}

.menu-major {

  & > li {

    @include breakpoint($screen $navflip) {
      &:hover {
        /*background-color: rgba($primarycolor, $navhoveropacity);*/
        background-color: rgba($secondarycolor, .28);
        color: $yellow;
        box-shadow: inset 2px -1px 0 -1px $white, inset -2px 2px 0 -1px $white;
      }
    }

    .omedscrolled & {
      color: $secondarycolor;
      &:hover {
        background-color: lighten($yellow, 5%);
      }
    }
  }
}

.menu-minor {

  & li {
    &:hover [class^='icon-'] {
      @include breakpoint($screen $navflip) {
        fill: $secondarycolor;
      }
    }
  }

  & li a {
    &:hover {
      color: $secondarycolor;
    }
  }
}

.menu-item-highlight {

  @include breakpoint($screen $navflip) {
    background: $secondarycolor;  
    color: $primarycolor;

    & [class^='icon-'] {
      fill: $primarycolor;
    }

    &:hover {
      /*background-color: rgba($teal, .96) !important;*/
      background-color: rgba($primarycolor, .96);
    }
  }

}

.level-2 {

  & .menu-item {
    @include breakpoint($screen $navflip) {
      &:hover {
        /*color: $secondarycolor;*/
        color: lighten($primarycolor, 5%);
      }
    }
  }
}
