.menu {

  &.active, & > ul ul.active {
    color: $white;

    @include breakpoint($screen $navflip) {
      background-color: rgba($primarycolor, .85);
      border-top: 1px solid rgba($white, 0.25);

      .omedscrolled & {
        background-color: rgba($primarycolor, .96);
        border-top: none;
      }
    }
  }

  &, & > ul ul {
    background: $primarycolor;
    @include breakpoint($screen $navflip) {
      background: none;
    }
  }

  & > ul ul {
    @include breakpoint($screen $navflip) {
      top: 59px;
      
    }
  }

  & ul {

    @include breakpoint($screen $navflip) {
      display: flex;
      flex-basis: auto;
      border: 0;
    }
  }

  &__items {
    color: $white;
  }

  &__logo {
    
    @include breakpoint($screen $navflip) {
      & a:hover svg {
        fill: $secondarycolor;
      }
    }
  }
} /* End .menu */

.menu-link {
  display: block;
  text-align: right;
  color: $white;
}

.current-menu-item {

  color: $white !important;

  & [class^='icon-'] {
    fill: $white;
  }
}

.current-page-ancestor {
  color: $secondarycolor;
}

.menu-major {

  & > li {

    @include breakpoint($screen $navflip) {
      &:hover {
        /*background-color: rgba($primarycolor, $navhoveropacity);*/
        /*background-color: rgba($primarycolor, .85);*/
        //background-color: $primarycolor;
        background-color: rgba($primarycolor, .85);
        color: $white;
        /*box-shadow: inset 2px -2px 0 -1px $white, inset -2px 2px 0 -1px $white;*/
      }
    }

    .omedscrolled & {
      color: rgba($white,.6);
      width: auto;

      @include breakpoint($screen $navflip) {
        /*width: 10rem;*/
        text-align: center;
      }

      &:hover {
        /*background-color: $primarycolor;*/
        background-color: inherit;
        box-shadow: none;
        color: $white;
      }

    }

  }
}

.menu-minor {

  &.level-1 {
    @include breakpoint($screen $navflip) {
      justify-content: flex-end;
      flex-basis: auto;
    }
  }

  & li {
    &:hover [class^='icon-'] {
      @include breakpoint($screen $navflip) {
        fill: $white;
      }
    }
  }

  & li a {
    &:hover {
      color: $white;
    }
  }
}

.menu-item-highlight {

  @include breakpoint($screen $navflip) {
    background: $secondarycolor;  
    color: $primarycolor;

    & [class^='icon-'] {
      fill: $primarycolor;
    }

    &:hover {
      /*background-color: rgba($teal, .96) !important;*/
      background-color: rgba($primarycolor, .96);
    }
  }

}

.level-2 {

  & .menu-item {
    @include breakpoint($screen $navflip) {

      .omedscrolled & {
        border-top: 1px solid rgba($white, .25);
        border-bottom: none;
      }

      &:hover {
        color: $white;
        /*color: lighten($primarycolor, 5%);*/
        /*color: rgba($white, 1);*/

        /*background-color: $primarycolor;*/
      }
    }
  }

  .menu & > li a {
    @include breakpoint($screen $navflip) {
      padding: 1rem 1rem 1rem 2rem;
      height: 100%;
      line-height: 2.1;
    }
  } 

  & > li > a:after {
    @include breakpoint($screen $navflip) {
      content: "";
      position: absolute;
      height: 100%;
      width: 12px;
      background: transparent;
      left: 0;
      top: 0;
      transition: background-color .15s linear;
      bottom: 0; 
    }
  }

  & > li:hover > a:after {
    @include breakpoint($screen $navflip) {
      background: $secondarycolor;
    }
  }
}
