%quicklink-header-base {
  display: inline-block;
  margin-bottom: .5rem;
  padding-bottom: 6px; 
  line-height: 1.4;
  font-family: $font-medium;
  border-bottom: 1px solid $secondarycolor;
}

.quicklinks {

  &__item {
    border: 1px solid $lesspalegray;
    border-top:   3px solid $secondarycolor;
    border-left:  1px solid $secondarycolor;
    border-right:  1px solid $secondarycolor;
//    border-left:   none;
//    border-right:  none;
    border-bottom: 3px solid $secondarycolor;
//    background: rgba($secondarycolor, .08);
    background: $white;
  
    &:before {
      /*content: "";*/
      position: absolute;
      border-left: 1px solid $secondarycolor;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__header {

    &--lightblue {
      @extend %quicklink-header-base;
      color: $lightblue;
    }

    &--red {
      @extend %quicklink-header-base;
      color: $red;
    }
  }
}

