@mixin splash-position ($pos) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $pos;
}



%splash-base {
  position: relative;
  z-index: -1;
  height: 325px;
  width: 100%;
  font-size: 1em;
  font-family: $primaryfont;
  /*background-size: contain;*/
  /*background-position: center top;*/
  /*background-repeat: no-repeat;*/
  /*background-color: rgba($lightblue, .07);*/
  color: $white;

  @include breakpoint($screen $medium-start) {
    background-size: cover;
  }
  
  @include breakpoint($screen $navflip) {
    height: 650px;
  }
}

.splash {

  &--home, &--transitional-home-page {
    @extend %splash-base;
    /*background: linear-gradient(rgba($primarycolor,.7), rgba($secondarycolor,.91)), url(images/omed-splash-philly-1.jpg);*/
    /*background: linear-gradient(rgba($secondarycolor,.91), rgba($yellow,.5)), url(images/omed-splash-philly-1.jpg);*/
    /*background: linear-gradient(rgba($secondarycolor,.91), rgba($primarycolor,.7)), url(images/omed-splash-philly-1.jpg);*/
    /*background: linear-gradient(rgba($primarycolor, .7), rgba($primarycolor,.7)), url(images/omed-splash-philly-1.jpg);*/
    /*background: linear-gradient(rgba($primarycolor, .71), rgba($secondarycolor,.9)), url(images/omed-splash-philly-1.jpg);*/
    background: linear-gradient(rgba($primarycolor,.6), rgba($secondarycolor,.9)), url(images/omed-splash-philly-1.jpg);

    /*background: linear-gradient(rgba($secondarycolor,.8), rgba($secondarycolor,.8)), url(images/omed-splash-philly-1.jpg);*/

    @include splash-position(center top);
  }
  
  &--connection {
    @extend %splash-base;
    // yellow-blue
    /*background: linear-gradient(rgba($secondarycolor,.91), rgba($yellow,.5)), url(images/omed-splash-brookshield.jpg);*/

    // red-blue
    /*background: linear-gradient(rgba($secondarycolor,.81), rgba($primarycolor,.7)), url(images/omed-splash-brookshield.jpg);*/
    /*background: linear-gradient(rgba($primarycolor,.6), rgba($primarycolor,.6)), url(images/omed-splash-brookshield.jpg);*/
    /*background: linear-gradient(rgba($primarycolor,.5), rgba($secondarycolor,.9)), url(images/omed-splash-brookshield.jpg);*/
    background: linear-gradient(transparent, rgba($secondarycolor,1)), url(images/omed-splash-brookshield.jpg);

    /*background: linear-gradient(rgba($secondarycolor,.7), rgba($secondarycolor,.7)), url(images/omed-splash-brookshield.jpg);*/
    @include splash-position(left top);
  }

  &--education {
    @extend %splash-base;
    background: linear-gradient(rgba(0, 188,212,.61), rgba(0, 188,212,.61)), url(images/omed-splash-poster.jpg);
    @include splash-position(center top);
  }

  &--inspiration {
    @extend %splash-base;
    background: linear-gradient(rgba(0, 188,212,.61), rgba(0, 188,212,.61)), url(images/omed-splash-drumcorps.jpg);
    @include splash-position(center top);
  }

  &__header {
    font-family: $font-medium;
    & > span {
      /*color: $primarycolor;*/
      /*color: $secondarycolor;*/
      color: $white;
    }
  }
}
